* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: black;
}

.header {
    display:flex ;
    background-image: linear-gradient(to right, rgb(69, 75, 69), rgb(67, 90, 67), rgb(24, 24, 79)  );
    height: 150px;
    justify-content: space-between;
}
.logo {
    width: 150px;;
    height: 150px;
    
}
.logo img{
    object-fit: cover; /* para que el tamaño de la imagen se ajuste al div*/
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.buscador {
    height: 150px;
    width: 40px;
    display: flex;
    align-items: center;

}
.separador{
    height: 150px;
    width: 150px;
}
.descripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
h1 {
    color: white;
}
h2 {
    color: white;
}

.formulario {
    width: 30vw;
    display: flex;
    flex-direction: row;
}
.formulario label{
    color: white;
}
.cajaFormulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

main {
    background-color: white;
    height: calc(100vh - 150px - 22.4px); /* con esto le reste 150px(header) y 22.4px (descripcion)de los contenedores superiores al main*/
    width: 90vw;
    margin: auto;
}
.contenedorCards {
    display: flex;
}

.textoCentrado {
    position: relative;
    display: inline-block;
    text-align: center;
}
.imagenTaza{
    filter: invert(71%) sepia(65%) saturate(1628%) hue-rotate(356deg) brightness(103%) contrast(104%);
}
.precioTaza {
    background-color:#0d6efd;
    width: fit-content;
    color: white;
    margin-bottom: 4px;
}
.texto {
    color:black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.nombreTaza {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%)
}